---
import "../styles/global.css";
import Card from "./Card.astro";
import { data } from "../data/data";
---

<div
  class="grid auto-cols-auto grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3"
>
  {
    data.map((item) => (
      <Card
        image={item.logo}
        alt={item.name}
        title={item.name}
        description={item.description}
        isActive={item.isActive}
      />
    ))
  }
</div>
